<%- include ../include/head %>
<%- include ../include/nav %>
<div style="padding:0 15px;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<h3>
						基础统计
						<small>
							<%= key %></small>
					</h3>
				</div>
				<div class="col-md-6">
					<ul class="nav nav-pills pull-right" style="margin-top:10px;">
						<li class="active"><a href="/view/<%= key %>/base"><i class="glyphicon glyphicon-pie-chart"></i> 报表</a></li>
						<li><a a href="/view/<%= key %>/base/detail"><i class="glyphicon glyphicon-list"></i> 明细</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="report-screen" style="height:350px;padding:20px;"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div id="report-browser" style="height:350px;padding:20px;"></div>
				</div>
				<div class="col-md-6">
					<div id="report-os" style="height:350px;padding:20px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var _KEY="<%= key %>";
	require(["/data/js/base.js"]);
</script>
<%- include ../include/foot %>